body{
  background: #5b6af0;
}

.button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
}

.active-person {
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

button:disabled {
  pointer-events: none;  /* Prevents the button from being clicked */
  opacity: 0.5;  /* Optional: visually indicate the button is disabled */
}

textarea:disabled {
  background-color: #d3d3d3;  /* Light gray color */
  pointer-events: none;  /* Optional: Prevent interaction */
  opacity: 0.5;  /* Optional: Makes it appear disabled */
}

.chat-container {
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5em;
  padding: 0.1em 0.1em;
  margin: auto;
  max-width: 37.5em;
  height: 81.96vh;
  box-shadow: 0 0 1.25em 0.5em #c3c3c333;
  background-image: linear-gradient(
    23deg,
    hsl(49deg 100% 69%) 0%,
    hsl(16deg 80% 61%) 2%,
    hsl(330deg 81% 34%) 12%,
    hsl(259deg 100% 15%) 50%,
    hsl(212deg 100% 25%) 88%,
    hsl(197deg 100% 30%) 98%,
    hsl(183deg 79% 36%) 100%
  );
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.chat-header {
  margin-bottom: 1em;
  color: #fff;
}

.chat-header h2 {
  font-size: 1.25em;
  font-weight: bold;
}

.chat-messages {
  display: flex;
  flex-direction: column; /* Arranges messages vertically */
  justify-content: flex-start; /* Aligns messages to the top */
  height: 24.5em; /* Ensures the container takes up its allocated space */
  overflow-y: auto; /* Allows scrolling if the messages exceed the container's height */
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.1em;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.color-cita{
  color: #062a4e;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.31em;
  color: #062a4e;
}

.ads-text {
  display:flex;
  flex:4;
  font-size: 1em;
  color: #062a4e;
  width : "70%";
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.message-text {
  font-size: 1em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
  color: #062a4e;
}

.message-timestamp {
  font-size: 0.75em;
  text-align: right;
  color: #062a4e;
}

.blue-bg {
  background-color: #1c9bef;
}

.gray-bg {
  background-color: #96bfe3;
}

.chat-input-form {
  display: flex;
  align-items: top;
  gap: 0.625em;
  margin-bottom: 5px;
}

.chat-input {
  padding: 0.625em;
  border: none;
  border-radius: 0.5em;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1em;
  flex-grow: 1;
}

.send-button {
  background-color: #1c9bef;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  height: fit-content;
}

.clear-chat-button {
  display: block;
  margin: 2.5em auto;
}

.typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Space between dots */
  height: 50px; /* Adjust to fit your design */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #3498db; /* Blue dot color */
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

/* Stagger the animations for the dots */
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}

/* Keyframes for blinking dots */
@keyframes blink {
  0%, 20% {
      opacity: 0.3;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0.3;
  }
}

.clipboard-icon {
  float: right;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.clipboard-icon:hover {
  background: #f0f0f0;
}

.copied-message {
  float: right;
  margin-right: 15px;
  color: green;
  font-size: 14px;
  margin-top: 5px;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copied-message.visible {
  opacity: 1;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  gap: 4px;
}

.radio {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #007BFF;
  display: inline-block;
  transition: 0.3s;
}

.radio.selected {
  background-color: #007BFF;
  box-shadow: inset 0 0 0 5px white;
}

.button-line {
  display: flex;
  justify-content: space-between;  /* Distribute buttons evenly */
  width: 100%;
}

.cita-button {
  padding: 10px; /* Adjust padding as needed */
  margin: 0 1px; /* Optional: space between buttons */
  margin-bottom: 2px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  text-align: center;
}

.cita-container {
  display: flex;
  flex-direction: column; /* Align lines vertically */
  width: 100%;
}

/* Styles for mobile devices  */

@media screen and (max-width: 768px) {
  .fixed-bottom {
    position: fixed;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.75em 0.5em #c3c3c333;
    width: 89.5%;
    height: 26vh;
    bottom: 0px;
    margin-left: -2px;
    padding: 0.2em 0.2em;
    background: #333;
    color: white;
    background-image: linear-gradient(
      23deg,
      hsl(320deg 60% 45%) 0%,
      hsl(280deg 50% 40%) 20%,
      hsl(240deg 50% 35%) 40%,
      hsl(200deg 40% 30%) 60%,
      hsl(160deg 30% 25%) 80%,
      hsl(120deg 20% 20%) 100%
      );
  }
}

@media screen and (max-width: 620px) {
  .fixed-bottom {
    position: fixed;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.75em 0.5em #c3c3c333;
    width: 94%;
    height: 26vh;
    bottom: 0px;
    padding: 0.5em 0.5em;
    background: #333;
    color: white;
    background-image: linear-gradient(
      23deg,
      hsl(320deg 60% 45%) 0%,
      hsl(280deg 50% 40%) 20%,
      hsl(240deg 50% 35%) 40%,
      hsl(200deg 40% 30%) 60%,
      hsl(160deg 30% 25%) 80%,
      hsl(120deg 20% 20%) 100%
      );
  }
}

/* Styles for Tablet */
@media screen and (min-width: 768px) and (max-width: 930px) {
  .fixed-bottom {
    position: fixed;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.75em 0.5em #c3c3c333;
    width: 87%;
    height: 25vh;
    bottom: 8px;
    padding: 0.5em 0.5em;
    background: #333;
    color: white;
    background-image: linear-gradient(
      23deg,
      hsl(320deg 60% 45%) 0%,
      hsl(280deg 50% 40%) 20%,
      hsl(240deg 50% 35%) 40%,
      hsl(200deg 40% 30%) 60%,
      hsl(160deg 30% 25%) 80%,
      hsl(120deg 20% 20%) 100%
      );
  }
}

/* Styles for PC */
@media screen and (min-width: 930px) {
  .fixed-bottom {
    position: fixed;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.75em 0.5em #c3c3c333;
    width: 38.15%;
    bottom: 12px;
    margin-left: -2px;
    padding: 0.5em 0.5em;
    background: #333;
    color: white;
    background-image: linear-gradient(
    23deg,
    hsl(320deg 60% 45%) 0%,
    hsl(280deg 50% 40%) 20%,
    hsl(240deg 50% 35%) 40%,
    hsl(200deg 40% 30%) 60%,
    hsl(160deg 30% 25%) 80%,
    hsl(120deg 20% 20%) 100%
    );
  }
}

/* Styles for PC + Tablet */
.displayElements2 {
  display: flex;
  width: 100%; /* Ensures the container spans full width */
  gap: 20px; /* Adds spacing between buttons */
  justify-content: center; /* Centers buttons horizontally */
  margin-top: 7px;
}

.displayElements2 .button {
  flex: 1; /* Makes buttons equal width */
  max-width: 200px; /* Optional: Prevents buttons from becoming too wide */
}

.displayElements1 {
  display: flex;
  align-items: left; /* Aligns button and labels vertically */
  justify-content: space-between; /* Ensures proper spacing */
  width: 100%;
  gap: 20px; /* Space between elements */
}

.displayElements1 button {
  flex-shrink: 0; /* Prevents button from shrinking */
  flex: 1;
  max-width: 100px;
}

.displayElements1 div {
  display: flex;
  gap: 10px; /* Space between radio buttons */
  align-items: center;
  flex: 1;
}

.header-container {
  display: flex;
  margin: auto;
  max-width: 37.5em;
  width: 100%;
  height: 100px; /* Adjust as needed */
  border: none;
  background-image: linear-gradient(
  23deg,
  hsl(140deg 60% 45%) 0%,   /* Bright green */
  hsl(130deg 50% 40%) 20%,  /* Slightly darker green */
  hsl(120, 38%, 48%) 40%,  /* Forest green */
  hsl(110, 76%, 56%) 60%,  /* Deep green */
  hsl(101, 38%, 52%) 80%,  /* Dark olive green */
  hsl(90deg 20% 20%) 100%   /* Almost black-green */
);

}

.header-left {
  flex: 1; /* Takes 1/3 of the space */
  display: flex;
  align-items: center; /* Center logo vertically */
  justify-content: center; /* Center logo horizontally */  
  border: none;
}

.header-right {
  flex: 4; /* Takes 3/4 of the space */
  display: flex;
  flex-direction: column;
  border: none;
}

.header-top, .header-bottom {
  flex: 1; /* Each takes 50% of the right section */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.header-top {
  /*background-color: lightblue;*/
  margin-top: 15px;
  max-height: 5vh;
}

.header-bottom {
  /*background-color: lightcoral;*/
}

.app-container{
  margin-top : -8px;
  margin-left: -9px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Style for the trigger image */
.trigger {
  cursor: pointer;
  width: 300px; /* Adjust as needed */
  display: block;
}

/* Full-screen popup */
.popup {
  position: fixed;
  max-width: 37.5em;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  overflow-y: 99999;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


 /* Make the popup visible when targeted */
 #popup:target {
  display: flex;
}

/* Make the popup visible when targeted */
#popup2:target {
  display: flex;
}

/* Popup content */
.popup img {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid white;
}

/* Close button */
.close {
  position: absolute;
  top: 0px;
  right: -30px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

h4 {
  font-size: 2em;
  font-weight: bold;
  color: #062a4e;
  text-shadow: 
    2px 2px 0 #008000, 
    4px 4px 0 #006400, 
    6px 6px 5px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) rotateX(10deg) rotateY(10deg);
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

h4:hover {
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale(1.2);
}
